<div class="section-inner-wrapper center-block overflow-hidden">
    <div class="max-width-600 center-block">
        <h2>Refer a Friend</h2>
        <div class="mrgn-btm-s max-width-400">
            Get your friends to join just by scanning your
            Referral QR Code!
        </div>
        <div class="border-dark-s  mrgn-btm-m max-width-300 padding-s border-12">
            <div id="qrcode" style="width: 100%; height: auto;"></div>
        </div>
        <div class="input-custom focus-active width-100 mrgn-btm-m pos-rel">
            <label class="label-move text-grey to-top" for="referral-code">Referral Link</label>
            <input class="width-100 width-100 bg-white" type="text" id="referral-link"
                   data-link="https://reliance-mall.com#/register?r_code="
                   value="https://reliance-mall.com#/register?r_code=" disabled>
            <div class="input-copy padding-xs center middle border-12">
                <img src="img/icon-copy.png" alt="" onclick="copyLink()" class="input-copy-icon">
            </div>
        </div>

    </div>
</div>