<!DOCTYPE html>
@using FreshMVC.Models
@using resSharedPB = FreshMVC.Resources.PackBuddyShared;
@model MemberHomeModel
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile </title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/HotMall/css/style.css">
    <link rel="stylesheet" href="~/HotMall/css/product.css">
    <link rel="stylesheet" href="~/HotMall/css/custome.css">
    <link rel="stylesheet" href="~/HotMall/css/custome-responsive.css">
    <script>

        $(document).ready(function () {
            $(".mainprofile").click(function (evt) {
                location.href = "/User/Profile";
            });

            $(".myredpacketz").click(function (evt) {
                $.ajax({
                    type: "POST",
                    url: "/User/MyOrders",
                    data: {},
                    success: function (data) {
                        $("#main-content").html(data);
                    },
                    error: function (xhr, status, error) {
                        let r = JSON.parse(xhr.responseText);
                        alertify.dialog('alert').set({ title: 'Hot Mall' }).set({ transition: 'zoom', message: r.message }).show();
                    }
                });
            });

            $(".orderz").click(function (evt) {
                $.ajax({
                    type: "POST",
                    url: "/User/MyOrders",
                    data: {},
                    success: function (data) {
                        $("#main-content").html(data);
                    },
                    error: function (xhr, status, error) {
                        let r = JSON.parse(xhr.responseText);
                        alertify.dialog('alert').set({ title: 'Hot Mall' }).set({ transition: 'zoom', message: r.message }).show();
                    }
                });
            });

            $(".referralz").click(function (evt) {
                $.ajax({
                    type: "POST",
                    url: "/User/MyReferral",
                    data: { },
                    success: function (data) {
                        $("#main-content").html(data);
                    },
                    error: function (xhr, status, error) {
                        let r = JSON.parse(xhr.responseText);
                        alertify.dialog('alert').set({ title: 'Hot Mall' }).set({ transition: 'zoom', message: r.message }).show();
                    }
                });
            });

            $(".logoutz").click(function (evt) {
                $.ajax({
                        type: "POST",
                        url: "/UserLogin/Logout",
                        data: { },
                        success: function (data) {
                            var url = '@Url.Action("Home", "User", new { })';
                            window.location.href = url;
                        },
                        error: function (xhr, status, error) {
                            let r = JSON.parse(xhr.responseText);
                            alertify.dialog('alert').set({ title: 'Hot Mall' }).set({ transition: 'zoom', message: r.message }).show();
                        }
                    });
                });
            });


    </script>
</head>

<body class="fixed-body">

    @Html.Partial("HeaderMenu")

    <section class="section-wrap padding-btm-section section-inner-wrapper p-0">
        <div class="display-flex">
            <div class="width-20 hide-mobile h-100">
                <div id="navigation-sidebar" class="border-grey h-100">
                    <div id="profile-info" class="padding-s display-flex align-items-center">
                        <div style="width: 25%">
                            <img class="border-round border-dark" src="~/HotMall/img/profile.png" alt=""
                                 style="width: 60px; height: 60px;">
                        </div>
                        <div style="width: 65%" class="ms-2">
                            <h2>Username</h2>
                            <div> ID: A262626</div>
                        </div>
                    </div>
                    <div id="profile-nav">
                        <div class="profile-p">
                            <div class="profile-p mainprofile">
                                <div class="profile-menu-accordion padding-s pointer">
                                    <a href="#" class="" style="color:black;">
                                        <div class="middle left heading-bold">
                                            <img class="profile-menu-img mrgn-right-s" src="~/HotMall/img/invite-friends.jpeg" alt="">
                                            <!-- <a href="referrals.html" class="text-dark">Referrals</a> -->
                                            Profile
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="profile-menu-accordion padding-s pointer">
                                <div class="middle left heading-bold">
                                    <img class="profile-menu-img mrgn-right-s" src="~/HotMall/img/c-wallet_icon.png" alt="">
                                    <!-- <a href="./Recharge" class="text-dark">Balance</a> -->
                                    Balance
                                </div>
                                <i class="fa-solid fa-angle-down"></i>
                            </div>

                            <div class="profile-menu-panel">
                                <a class="profile-menus width-100 padding-s" href="./Recharge">Recharge</a>
                                <a class="profile-menus width-100 padding-s" href="">Withdrawal</a>
                                <a class="profile-menus width-100 padding-s" href="">Transaction</a>
                            </div>

                        </div>
                        <div class="profile-p orderz">
                            <div class="profile-menu-accordion padding-s pointer">
                                <a href="#" class="" style="color:black;">
                                    <div class="middle left heading-bold">
                                        <img class="profile-menu-img mrgn-right-s" src="~/HotMall/img/myorder.png" alt="">
                                        <!-- <a href="referrals.html" class="text-dark">Referrals</a> -->
                                        Orders
                                    </div>
                                </a>
                            </div>

                        </div>
                        <div class="profile-p myredpacketz">
                            <div class="profile-menu-accordion padding-s pointer">
                                <a href="#" class="" style="color:black;">
                                    <div class="middle left heading-bold">
                                        <img class="profile-menu-img mrgn-right-s" src="~/HotMall/img/redpacket.png" alt="">
                                        <!-- <a href="referrals.html" class="text-dark">Referrals</a> -->
                                        Red Packet
                                    </div>
                                </a>
                            </div>

                        </div>
                        <div class="profile-p referralz">
                            <div class="profile-menu-accordion padding-s pointer">
                                <a href="#" class="" style="color:black;">
                                    <div class="middle left heading-bold">
                                        <img class="profile-menu-img mrgn-right-s" src="~/HotMall/img/myreferral.png" alt="">
                                        <!-- <a href="referrals.html" class="text-dark">Referrals</a> -->
                                        Referrals
                                    </div>
                                </a>
                            </div>

                        </div>

                        <div class="profile-p logoutz">
                            <div class="profile-menu-accordion padding-s pointer">
                                <a href="#" class="" style="color:black;">
                                    <div class="middle left heading-bold">
                                        <img class="profile-menu-img mrgn-right-s" src="~/HotMall/img/logout.png" alt="">
                                        <!-- <a href="referrals.html" class="text-dark">Referrals</a> -->
                                        Log Out
                                    </div>
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="width-80 width-100-t fixed-slider">
                <section class="section-wrap bg-peach-2 hide-desktop">
                    <div class="section-inner-wrapper" style="overflow: visible;">
                        <div class="display-flex align-items-center">
                            <div class="mrgn-right-s">
                                <img class="border-round border-dark" src="~/HotMall/img/profile.png" alt=""
                                     style="width: 60px; height: 60px;">
                            </div>
                            <div>
                                <h2>Username</h2>
                                <div>ID: A262626</div>

                            </div>
                            <div style="margin-left: auto;">
                                <div class="pointer bg-peach profile-menu-icon box-shadow-std border-12 border-dark center-block hide-desktop">
                                    <i id="profile-mobile-menu" class="fa-solid fa-ellipsis-vertical"
                                       style="padding: 16px"></i>
                                    <div class="overflow-hide border-12 box-shadow-std profile-mobile z-index-99 bg-grey">
                                        <div id="profile-nav">
                                            <div class="profile-p">
                                                <div class="profile-menu-accordion padding-s pointer">
                                                    <div class="middle left heading-bold">
                                                        <img class="profile-menu-img mrgn-right-s"
                                                             src="~/HotMall/img/c-wallet_icon.png" alt="">
                                                        <!-- <a href="./Recharge" class="text-dark">Balance</a> -->
                                                        Balance
                                                    </div>
                                                    <i class="fa-solid fa-angle-down"></i>
                                                </div>

                                                <div class="profile-menu-panel">
                                                    <a class="profile-menus width-100 padding-s"
                                                       href="./Recharge">Recharge</a>
                                                    <a class="profile-menus width-100 padding-s" href="">Page 1</a>
                                                    <a class="profile-menus width-100 padding-s" href="">Page 2</a>
                                                </div>

                                            </div>
                                            <div class="profile-p">
                                                <div class="profile-menu-accordion padding-s pointer">
                                                    <div class="middle left heading-bold">
                                                        <img class="profile-menu-img mrgn-right-s"
                                                             src="~/HotMall/img/reports_icon.png" alt="">
                                                        <!-- <a href="commission.html" class="text-dark">Commission</a> -->
                                                        Commission
                                                    </div>
                                                    <i class="fa-solid fa-angle-down"></i>
                                                </div>

                                                <div class="profile-menu-panel">
                                                    <a class="profile-menus width-100 padding-s"
                                                       href="commission.html">View Commission</a>
                                                    <a class="profile-menus width-100 padding-s" href="">Page 1</a>
                                                    <a class="profile-menus width-100 padding-s" href="">Page 2</a>
                                                </div>
                                            </div>
                                            <div class="profile-p">
                                                <div class="profile-menu-accordion padding-s pointer">
                                                    <div class="middle left heading-bold">
                                                        <img class="profile-menu-img mrgn-right-s"
                                                             src="~/HotMall/img/reports_icon.png" alt="">
                                                        <!-- <a href="interest.html" class="text-dark">Interest</a> -->
                                                        Interest
                                                    </div>
                                                    <i class="fa-solid fa-angle-down"></i>
                                                </div>
                                                <div class="profile-menu-panel">
                                                    <a class="profile-menus width-100 padding-s"
                                                       href="interest.html">View Interest</a>
                                                    <a class="profile-menus width-100 padding-s" href="">Page 1</a>
                                                    <a class="profile-menus width-100 padding-s" href="">Page 2</a>
                                                </div>
                                            </div>
                                            <div class="profile-p">
                                                <div class="profile-menu-accordion padding-s pointer">
                                                    <div class="middle left heading-bold">
                                                        <img class="profile-menu-img mrgn-right-s" src="~/HotMall/img/ranking.svg"
                                                             alt="">
                                                        <!-- <a href="promotion.html" class="text-dark">Promotion</a> -->
                                                        Promotion
                                                    </div>
                                                    <i class="fa-solid fa-angle-down"></i>
                                                </div>

                                                <div class="profile-menu-panel">
                                                    <a class="profile-menus width-100 padding-s"
                                                       href="promotion.html">Promote</a>
                                                    <a class="profile-menus width-100 padding-s" href="">Page 1</a>
                                                    <a class="profile-menus width-100 padding-s" href="">Page 2</a>
                                                </div>
                                            </div>
                                            <div class="profile-p">
                                                <div class="profile-menu-accordion padding-s pointer">
                                                    <div class="middle left heading-bold">
                                                        <img class="profile-menu-img mrgn-right-s"
                                                             src="~/HotMall/img/invite-friends.jpeg" alt="">
                                                        <!-- <a href="referrals.html" class="text-dark">Referrals</a> -->
                                                        Referrals
                                                    </div>
                                                    <i class="fa-solid fa-angle-down"></i>
                                                </div>

                                                <div class="profile-menu-panel">
                                                    <a class="profile-menus width-100 padding-s"
                                                       href="referrals.html">Referr</a>
                                                    <a class="profile-menus width-100 padding-s" href="">Page 1</a>
                                                    <a class="profile-menus width-100 padding-s" href="">Page 2</a>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="main-content" class="section-wrap">
                    <div class="section-inner-wrapper">
                        <div id="profile-content width-100 padding-s">
                            <div class=" mrgn-btm-m">

                                <div class="profile-point-info-grid border-12 bg-dark display-wrap overflow-hide w-100 mx-auto">
                                    <a class="profile-point-info padding-s width-100 display-flex pos-rel text-light"
                                       href="./Recharge">
                                        <div class="coin-p mrgn-right-xs">
                                            <img class="coin-logo" src="~/HotMall/img/usd_today.png" alt="">
                                        </div>
                                        <div class="coin-info">
                                            <h3 class="text-m text-wrap text-bold text-light">56,728</h3>
                                            <div class="text-s-m">Total Balance</div>
                                        </div>
                                        <!-- <i class="fa-solid coin-icon-top pos-abs fa-angle-right hide-mobile"></i> -->
                                        <p class="text text-white ms-auto my-auto">Recharge</p>

                                    </a>
                                    <a class="profile-point-info padding-s width-100 display-flex pos-rel text-light"
                                       href="commission.html">
                                        <div class="coin-p mrgn-right-xs">
                                            <img class="coin-logo" src="~/HotMall/img/usd_today.png" alt="">
                                        </div>
                                        <div class="coin-info">
                                            <h3 class="text-m text-wrap text-bold">26,450,000</h3>
                                            <div class="text-s-m">Total Commission</div>
                                        </div>
                                        <p class="text text-white ms-auto my-auto">View</p>

                                    </a>
                                    <a class="profile-point-info padding-s width-100 display-flex pos-rel text-light"
                                       href="interest.html">
                                        <div class="coin-p mrgn-right-xs">
                                            <img class="coin-logo" src="~/HotMall/img/usd_today.png" alt="">
                                        </div>
                                        <div class="coin-info">
                                            <h3 class="text-m text-wrap text-bold">26,450,000</h3>
                                            <div class="text-s-m">Total Interest</div>
                                        </div>
                                        <p class="text text-white ms-auto my-auto">View</p>

                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <script src="~/HotMall/main.js" type="text/javascript"></script>

    @Html.Partial("FooterMenu")

    <script>
        $(window).on("load", function (e) {
            $("#loader-wrapper").fadeOut("fast");
        })
    </script>

</body>

</html>